* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
}

.wrapper {
    width: 50%;
    margin: 0 auto;
}

img {
    width:120px;
    height:150px;
    margin-right:15px;
}

.section-content {
    border-bottom:10px solid gray;
    margin-bottom: 40px;
} 



.section-content-item {
     border-bottom:5px solid blue;
     display: flex;
     justify-content: center;
}

.section-content-item:not(:last-child) {
     margin-bottom: 15px;
}

.animal-info {
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 70%;
} 

footer {
    margin-top: 70px;
    color: darkblue;
}

h2 {
    width:15%;
    border-bottom:2px solid green;
    margin: 0 auto 10px auto;
    text-align: center;
    font-size: 30px;
}

h1 {
    font-size:35px;
    text-align: center;
}

header {
    border-bottom: 5px solid lightseagreen;
    margin-bottom: 18%;
    background-color: lightcyan;
}

body {
    background-color: lightsteelblue;
}

nav {
    width:8.5%;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

nav a {
    background-color: rgb(92, 167, 228); 
    border: 1px solid black;
    text-decoration: none;
    padding: 5px;
}

aside {
    width: 100px;
    height: 150px;
    background-color:rgb(225, 204, 240); 
    position: absolute;
    top:15%;
    right:7%;
    border:2px dashed blue;
    padding: 7px;
    font-size: 20px;
}
