.section-content-item > div:first-child {
    float: left;
}

.section-content-item > div:last-child {
    float: right;
}

.section-content-item:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.section-content-item {
    width:80%;
}

.private-info > *, 
.contact-info > *, 
.residence-relocate-info > *,
.job-conditions-info > *, 
.organization-info > *,
.working-period > *
 {
    display:block;

}

.main-employee-info {
    width:70%;
    margin: 0 auto;
}

.section-content-item div:nth-child(2):not(.private-info){
    max-width: 75%;
    margin-left: 5px;
}

section.position-salary-item{
    width: 100%;
}

section.main-skills {
    width:85%;
}





