main .section-content-item{
    display:grid;
    grid-template-columns: 30% 70%;
    justify-content: start;
}

.main-employee-info {
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-columns: 10% 50%;	
}

.private-info div {
     width:70%;
}

.additional-info .section-content-item {
    grid-template-columns: 20% 70%;	
}

ul.program-skills-list {
    display: grid;
    grid-template-columns: repeat(6, 15%);
    grid-column-gap: 7px;
    grid-row-gap: 5px;
}

div.position-salary-item div:last-child {
justify-self: end;
}

div.residence-relocate-info > span,
div.job-conditions-info > span{
display: block;
}
