* {
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
}

table {
    border-collapse: collapse;
    border: 5px solid darkblue;
    min-height: 100px;
    min-width: 500px;
    margin: auto;
}

td {
    border:1px solid black;
    width: 25%;
}



