* {
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    margin-top: 10%; 
    max-width: 20%;
    min-height: 300px;
    border-radius: 10px;
    border: 2px solid black;
    padding: 15px;
    background-color: rgb(115, 115, 146); 
}

label {
    display: block;
}

form * {
    margin: 0 auto 2% auto;
}

input:first-child{
    margin-top: 4%;
}

form section, form label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.app-button {
    width: 45%;
}

.btn-wrapper {
    flex-direction: row;
}

.app-textarea{
    width:90%;
    min-height:200px;
}
